<section class="bethink">
  <div class="container">
    <div class="form bethink-form">
      <h4>Записаться на экскурсию</h4>
      <p>Мы перезвоним в течении 5 минут и согласуем удобное время и место</p>
      <form action="php/send.php" method="post">
        <input type="text" name="name" class="input input-name" placeholder="Ваше имя" />
        <input type="tel" name="phone" class="input input-phone masked" placeholder="Ваш телефон" />
        <button type="submit" class="btn btn-form">Посетить объект</button>
        <small>Нажимая на кнопку, Вы соглашаетесь<br> с условиями <a href="#">передачи данных</a></small>
      </form>
      <img src="img/leaves.png" alt="" class="bethink-leaves">
    </div>
    <div class="bethink-text">
      <h2 class="title">Это все хорошо, но мне надо подумать...</h2>
      <p>Конечно вы можете принимать решение так, как вам будет удобно. Однако своими глазами вы сможете <b>увидеть гораздо больше</b>, чем сидя за компьютером.</p>
      <p>Мы абсолютно бесплатно организуем для вас экскурсию на действующий объект и вы сможете в живую увидеть процесс, что поможет Вам <b>сделать правильный выбор</b>.</p>
    </div>
  </div>
</section>