<section class="case" id="case">
  <div class="container">
    <h2 class="title">За 2019 год <span>отремонтировали 2653 кв. м.</span><br> различного типа и сложности работ</h2>
    <h3 class="case-subtitle">Скорее всего мы уже ни раз сталкивались с объектом похожим на Ваш</h3>
    <div class="case-carousel">
      <div class="case-item">
        <div class="case-item__photo">
          <div class="case-item__photo-big">
            <div class="case-item__photo-big-item" style="background-image: url(img/promo.jpg);"></div>
            <div class="case-item__photo-big-item" style="background-image: url(img/promo.jpg);"></div>
            <div class="case-item__photo-big-item" style="background-image: url(img/promo.jpg);"></div>
            <div class="case-item__photo-big-item" style="background-image: url(img/promo.jpg);"></div>
            <div class="case-item__photo-big-item" style="background-image: url(img/promo.jpg);"></div>
            <div class="case-item__photo-big-item" style="background-image: url(img/promo.jpg);"></div>
          </div>
          <div class="case-item__photo-small">
            <div class="case-item__photo-small-item" style="background-image: url(img/promo.jpg);"></div>
            <div class="case-item__photo-small-item" style="background-image: url(img/promo.jpg);"></div>
            <div class="case-item__photo-small-item" style="background-image: url(img/promo.jpg);"></div>
            <div class="case-item__photo-small-item" style="background-image: url(img/promo.jpg);"></div>
            <div class="case-item__photo-small-item" style="background-image: url(img/promo.jpg);"></div>
            <div class="case-item__photo-small-item" style="background-image: url(img/promo.jpg);"></div>
          </div>
        </div>
        <div class="case-item__text">
          <h3>Капитальный ремонт под ключ<br> <span>по адресу Маяковского 39</span></h3>
          <div class="case-item__line">
            <div class="case-item__line-icon"><img src="img/svg/case-1.svg" alt=""></div>
            <div class="case-item__line-title">Тип жилья:</div>
            <div class="case-item__line-text">Новостройка</div>
          </div>
          <div class="case-item__line">
            <div class="case-item__line-icon"><img src="img/svg/case-2.svg" alt=""></div>
            <div class="case-item__line-title">Площадь:</div>
            <div class="case-item__line-text">120 кв. м.</div>
          </div>
          <div class="case-item__line">
            <div class="case-item__line-icon"><img src="img/svg/case-3.svg" alt=""></div>
            <div class="case-item__line-title">Сроки:</div>
            <div class="case-item__line-text">30 дней</div>
          </div>
          <div class="case-item__line">
            <div class="case-item__line-icon"><img src="img/svg/case-4.svg" alt=""></div>
            <div class="case-item__line-title">Задача:</div>
            <div class="case-item__line-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.<br><br><a href="#">Показать полностью</a></div>
          </div>
          <div class="case-item__line">
            <div class="case-item__line-icon"><img src="img/svg/case-5.svg" alt=""></div>
            <div class="case-item__line-title">Особенности:</div>
            <div class="case-item__line-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.<br><br><a href="#">Показать полностью</a></div>
          </div>
          <div class="case-item__bottom">
            <a href="javascript:;" data-fancybox data-src="#popup-call" class="btn btn-case">Хочу такой же ремонт</a>
            <div class="case-item__control">
              <div class="case-prev"></div>
              <div class="case-next"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>