<section class="choice">
  <div class="container">
    <h2 class="title">Мы спросили у 385 клиентов почему они выбрали нас<br> <i>и они выделили следующие причины:</i></h2>
    <div class="choice-row">
      <div class="choice-item">
        <div class="choice-icon"><img src="img/svg/choice-1.svg" alt=""></div>
        <div class="choice-text">
          <h3>Еженедельные фото и видео отчеты по ходу работ</h3>
          <p>Независимый <b>технический специалист с опытом 10+ лет</b> каждую неделю проверяет ход работ. По итогу высылаем отчеты удобным для вас способом</p>
        </div>
      </div>
      <div class="choice-item">
        <div class="choice-icon"><img src="img/svg/choice-2.svg" alt=""></div>
        <div class="choice-text">
          <h3>Бригадиры ведут<br> только один проект</h3>
          <p>Мы финансово отвечаем за качество работ и поэтому <b>бригадир постоянно находится на объекте</b> и контролирует работы</p>
        </div>
      </div>
      <div class="choice-item">
        <div class="choice-icon"><img src="img/svg/choice-3.svg" alt=""></div>
        <div class="choice-text">
          <h3>Гарантийный отдел, который<br> всегда на связи</h3>
          <p>Если возникнут вопросы во время эксплуатации, менеджер поможет разрешить вашу ситуацию круглосуточно. <b>Работаем с рекламациями в тот же день</b></p>
        </div>
      </div>
      <div class="choice-item">
        <div class="choice-icon"><img src="img/svg/choice-4.svg" alt=""></div>
        <div class="choice-text">
          <h3>Точно знаете<br> за что платите</h3>
          <p>Предоставляем детальную смету. Расписываем стоимость работ и материалов <b>с точностью до копейки</b></p>
        </div>
      </div>
      <div class="choice-item">
        <div class="choice-icon"><img src="img/svg/choice-5.svg" alt=""></div>
        <div class="choice-text">
          <h3>Держим объекты<br> в чистоте</h3>
          <p>В ходе работ мы держим объект в чистоте и не оставляем после себя мусор</p>
        </div>
      </div>
      <div class="choice-item">
        <div class="choice-icon"><img src="img/svg/choice-6.svg" alt=""></div>
        <div class="choice-text">
          <h3>Работа<br> без предоплаты</h3>
          <p>Вы платите только по факту выполнения работы</p>
        </div>
      </div>
    </div>
  </div>
</section>