<section class="footer">
  <div class="container">
    <div class="footer-logo">
      <img src="img/svg/logo.svg" alt="">
      <p>ремонт квартир, домов и офисов в Москве c 2010 года</p>
      <a href="javascript:;" data-fancybox data-src="#popup-politic">Политика конфиденциальности</a>
    </div>
    <div class="footer-menu">
      <ul>
        <li><a href="#quiz" class="js-scroll">Рассчитать смету</a></li>
        <li><a href="#case" class="js-scroll">Наши работы</a></li>
        <li><a href="#visit" class="js-scroll">Посетить объект</a></li>
      </ul>
      <ul>
        <li><a href="#warranty" class="js-scroll">Гарантии и договор</a></li>
        <li><a href="#price" class="js-scroll">Тарифы</a></li>
        <li><a href="#office" class="js-scroll">Офис</a></li>
      </ul>
    </div>
    <div class="footer-info">
      <p>ООО «_________» <br>ИНН <br>ОГРН</p>
      <p><a href="#">Скачать реквизиты</a></p>
    </div>
    <div class="footer-contact">
      <div class="footer-contact__phone">
        <div class="footer-contact__icon"></div>
        <div class="footer-contact__text">
          <a href="tel:+7 (913) 760-01-45">+7 (913) 760-01-45</a>
          <p>ЕЖЕДНЕВНО, КРУГЛОСУТОЧНО</p>
        </div>
      </div>
      <a href="javascript:;" data-fancybox data-src="#popup-call" class="footer-contact__btn">Перезвоните мне</a>
    </div>
  </div>
</section>

<div class="popup" id="popup-call">
  <div class="form">
    <h4>Перезвоните мне!</h4>
    <p>Мы перезвоним в течении 5 минут и согласуем удобное время и место</p>
    <form action="php/send.php" method="post" class="js-validate-3">
      <input type="text" name="name" class="input input-name" placeholder="Ваше имя" />
      <input type="tel" name="phone" class="input input-phone masked" placeholder="Ваш телефон" />
      <button type="submit" class="btn btn-form">Перезвоните мне</button>
      <small>Нажимая на кнопку, Вы соглашаетесь<br> с условиями <a href="#">передачи данных</a></small>
    </form>
  </div>
</div>

<div id="popup-politic">
  <h3>Политика конфиденциальности</h3>
  <p>1. Сбор данных. Администрация сайта собирает только ту информацию, которая обеспечивает возможность поддержки связи с зарегистрированным пользователем. На данном сайте собираются адрес электронной почты, имя, номер телефона и название компании. Все данные оставляются посетителями сайта добровольно. Некоторые данные автоматически сохраняются в логах сервера. Например, сведения об IP-адресе, типе браузера, времени запроса.</p>
  <p>2. Использование информации. Полученная от зарегистрированного пользователя информация используется для связи с ним. В том числе для отправки персонализированных сообщений.</p>
  <p>3. Раскрытие данных третьим лицам. Администрация сайта не передаёт, не обменивает и не продаёт личные данные зарегистрированных пользователей. В случае необходимости, данные пользователей могут быть переданы третьим лицам для: соблюдения закона, нормативно-правового акта, исполнения решения суда; предоставления информации на основании запроса уполномоченных государственных органов; устранения технических неисправностей в работе сайта; выявления или воспрепятствования мошенничеству.</p>
  <p>4. Защита данных. Администрация сайта принимает меры для защиты данных зарегистрированных пользователей от несанкционированного доступа.</p>
  <p>5. Изменения и обновления. Текст политики конфиденциальности может быть обновлён или изменён без уведомления об этом зарегистрированных пользователей. Актуальная версия текста находится на данной странице.</p>
  <p>6. Согласие с политикой конфиденциальности. Регистрируясь на данном сайте, пользователь автоматически соглашается с политикой обработки данных.</p>
</div>