<section class="footer">
  <div class="container">
    <div class="footer-logo">
      <img src="img/svg/logo.svg" alt="">
      <p>ремонт квартир, домов и офисов в Москве c 2010 года</p>
      <a href="#">Политика конфиденциальности</a>
    </div>
    <div class="footer-menu">
      <ul>
        <li><a href="#quiz" class="js-scroll">Рассчитать смету</a></li>
        <li><a href="#case" class="js-scroll">Наши работы</a></li>
        <li><a href="#visit" class="js-scroll">Посетить объект</a></li>
      </ul>
      <ul>
        <li><a href="#warranty" class="js-scroll">Гарантии и договор</a></li>
        <li><a href="#price" class="js-scroll">Тарифы</a></li>
        <li><a href="#office" class="js-scroll">Офис</a></li>
      </ul>
    </div>
    <div class="footer-info">
      <p>ООО «_________» <br>ИНН <br>ОГРН</p>
      <p><a href="#">Скачать реквизиты</a></p>
    </div>
    <div class="footer-contact">
      <div class="footer-contact__phone">
        <div class="footer-contact__icon"></div>
        <div class="footer-contact__text">
          <a href="tel:+7 (913) 760-01-45">+7 (913) 760-01-45</a>
          <p>ЕЖЕДНЕВНО, КРУГЛОСУТОЧНО</p>
        </div>
      </div>
      <a href="javascript:;" class="footer-contact__btn">Перезвоните мне</a>
    </div>
  </div>
</section>