<section class="office" id="office">
  <div class="container">
    <h2 class="title"><i>Мы также будем рады</i> видеть вас в нашем в офисе!</h2>
    <div class="office-row">
      <div class="office-contact">
        <p><b>Пункт приёма по адресу:</b><br> г. Москва</p>
        <p>ЕЖЕДНЕВНО, БЕЗ ВЫХОДНЫХ<br> ПН-ВС 9:00-21:00</p>
        <p><b>+7 (913) 760-01-45</b></p>
      </div>
      <div class="office-map"><script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa3a1a70963d19da7df3dedb715634b369b3493ac53bab2aa2f806e4123df92b1&amp;width=100%25&amp;height=100%25&amp;lang=ru_RU&amp;scroll=false"></script></div>
    </div>
  </div>
</section>