<section class="price" id="price">
  <div class="container">
    <h2 class="title"><i>Мы разработали 3 варианта сметы</i><br> под любой вкус и бюджет</h2>
    <div class="price-row">
      <div class="price-item price-green">
        <div class="price-title">Стандартный ремонт</div>
        <ul class="price-list">
          <li><p>Ремонтные работы</p><b>8 500 руб/м. кв</b></li>
          <li><p>Черновые материалы</p><b>5 500 руб/м. кв</b></li>
          <li><p>Чистовые материалы</p><b>Индивидуально</b></li>
        </ul>
        <a href="javascript:;" data-fancybox data-src="#popup-call" class="link">Что входит в пакет работ?</a>
        <a href="#quiz" class="btn btn-price js-scroll">Рассчитать смету бесплатно</a>
      </div>
      <div class="price-item price-yellow">
        <div class="price-title">Ремонт бизнес-класса</div>
        <ul class="price-list">
          <li><p>Ремонтные работы</p><b>11 000 руб/м. кв</b></li>
          <li><p>Черновые материалы</p><b>7 000 руб/м. кв</b></li>
          <li><p>Чистовые материалы</p><b>Индивидуально</b></li>
        </ul>
        <a href="javascript:;" data-fancybox data-src="#popup-call" class="link">Что входит в пакет работ?</a>
        <a href="#quiz" class="btn btn-price js-scroll">Рассчитать смету бесплатно</a>
      </div>
      <div class="price-item price-red">
        <div class="price-title">Эксклюзивный ремонт</div>
        <ul class="price-list">
          <li><p>Ремонтные работы</p><b>15 500 руб/м. кв</b></li>
          <li><p>Черновые материалы</p><b>9 000 руб/м. кв</b></li>
          <li><p>Чистовые материалы</p><b>Индивидуально</b></li>
        </ul>
        <a href="javascript:;" data-fancybox data-src="#popup-call" class="link">Что входит в пакет работ?</a>
        <a href="#quiz" class="btn btn-price js-scroll">Рассчитать смету бесплатно</a>
      </div>
    </div>
  </div>
</section>