<section class="promo">
  <div class="container">
    <div class="promo-top">
      <div class="promo-logo">
        <img src="img/svg/logo.svg" alt="">
        <p>ремонт квартир, домов и офисов<br> в Москве c 2010 года</p>
      </div>
      <div class="promo-contact">
        <div class="promo-contact__phone">
          <div class="promo-contact__icon"></div>
          <div class="promo-contact__text">
            <a href="tel:+7 (913) 760-01-45">+7 (913) 760-01-45</a>
            <p>ЕЖЕДНЕВНО, КРУГЛОСУТОЧНО</p>
          </div>
        </div>
        <a href="javascript:;" data-fancybox data-src="#popup-call" class="promo-contact__btn">Перезвоните мне</a>
      </div>
    </div>
    <div class="promo-content">
      <div class="promo-left">
        <h1>Ремонт квартиры под ключ<br> по докризисным ценам<br> <span>без предоплаты<br> с гарантией до 5 лет</span></h1>
        <div class="promo-gift">
          <h2>Дизайн-проект <b>в подарок!</b></h2>
          <p>При подписании договора на ремонт до <span class="js-date"></span></p>
          <a href="#quiz" class="btn btn-promo js-scroll">Узнать стоимость ремонта</a>
          <small>Ответьте на 6 простых вопросов, чтобы получить<br> точный расчет стоимости ремонта <b>+ дизайн-проект в подарок</b></small>
          <img src="img/gift.png" class="promo-gift__img" alt="">
        </div>
      </div>
      <div class="promo-right"><img src="img/rating.png" alt="" class="promo-rating"></div>
      <div class="promo-best">
        <div class="promo-best__item">
          <div class="promo-best__icon promo-best__icon-1"></div>
          <div class="promo-best__text">
            <h3>Сдаем ремонт в срок</h3>
            <p>За каждый день просрочки выплачиваем 0,3% от суммы договора</p>
          </div>
        </div>
        <div class="promo-best__item">
          <div class="promo-best__icon promo-best__icon-2"></div>
          <div class="promo-best__text">
            <h3>За нами не переделывают</h3>
            <p>Гарантия 1 год на выполненные работы и до 5 лет на материалы</p>
          </div>
        </div>
        <div class="promo-best__item">
          <div class="promo-best__icon promo-best__icon-3"></div>
          <div class="promo-best__text">
            <h3>Решаем вопросы с соседями</h3>
            <p>Договариваемся с соседями и следуем регламенту по шумным работам</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>