<section class="quiz" id="quiz">
  <div class="container">
    <img src="img/quiz-man.png" class="quiz-man" alt="">
    <div class="quiz-block">
      <h2 class="title">Получите за 1 минуту расчет стоимости ремонта<br> <span>в 3-х комплектациях</span></h2>
      <div class="quiz-progress">
        <div class="quiz-progress__active" style="width: 15%"></div>
        <div class="quiz-progress__count">1 / 6</div>
      </div>
      <div class="quiz-ask">
        <h3>Где вы хотите сделать ремонт?</h3>
        <label class="quiz-item">
          <div class="quiz-img" style="background-image: url(img/promo.jpg);"></div>
          <input type="radio" name="quiz-1" /><span>Новостройка</span>
        </label>
        <label class="quiz-item">
          <div class="quiz-img" style="background-image: url(img/promo.jpg);"></div>
          <input type="radio" name="quiz-1" /><span>Вторичное жилье</span>
        </label>
        <label class="quiz-item">
          <div class="quiz-img" style="background-image: url(img/promo.jpg);"></div>
          <input type="radio" name="quiz-1" /><span>Офис</span>
        </label>
        <div class="w-100"></div>
        <a href="javascript:;" class="btn btn-quiz btn-next">Следующий вопрос</a>
      </div>
    </div>
  </div>
</section>