<section class="team">
  <div class="container">
    <div class="team-left">
      <img src="img/team.jpg" alt="" class="team-img">
      <ul class="team-info">
        <li>Наши специалисты регулярно проходят провышение<br> квалификации и мастер-класс от компаний-партнеров</li>
        <li>5 лет - средний стаж специалистов<br> в наших бригадах</li>
      </ul>
    </div>
    <div class="team-right">
      <h2 class="title"><i>Бригады, которым</i> можно<br> доверить <i>ваше помещение</i></h2>
      <div class="team-list">
        <div class="team-item">
          <b>За качество отвечают<br> прорабы с высшим образованием</b>
          <p>Расчет сметы, закупка материала, управление работами в нашей компании производят только люди с опытом и специальным образованием</p>
        </div>
        <div class="team-item">
          <b>Внутреняя аттестация кадров<br> каждые полгода</b>
          <p>Качество работы для нас на первом месте, поэтому мы проводим строгие проверки соответствия персонала нашим требованиям </p>
        </div>
      </div>
    </div>
  </div>
</section>