<section class="visit" id="visit">
  <div class="container">
    <div class="visit-text">
      <img src="img/rating.png" alt="" class="visit-rating">
      <h2 class="title">Посетите наши объекты!</h2>
      <h3>Мы на деле покажем как будет проходить ремонт у вас и ответим на любые интересующие вас вопросы</h3>
      <div class="visit-list">
        <p>Посетив наши объекты вы сможете:</p>
        <ul>
          <li>Увидеть как ведется работа на объекте</li>
          <li>Познакомиться с нашими специалистами</li>
          <li>Получить ответы на любой технический вопросы без заумных слов </li>
        </ul>
      </div>
    </div>
    <div class="form visit-form">
      <h4>Записаться на экскурсию</h4>
      <p>Мы перезвоним в течении 5 минут и согласуем удобное время и место</p>
      <form action="php/send.php" method="post">
        <input type="text" name="name" class="input input-name" placeholder="Ваше имя" />
        <input type="tel" name="phone" class="input input-phone masked" placeholder="Ваш телефон" />
        <button type="submit" class="btn btn-form">Посетить объект</button>
        <small>Нажимая на кнопку, Вы соглашаетесь<br> с условиями <a href="#">передачи данных</a></small>
      </form>
    </div>
  </div>
</section>