<section class="warranty" id="warranty">
  <div class="container">
    <h2 class="title">Вы получаете сразу 4 гарантии,<br> <i>потому что мы уверенны в качестве работы на 100%</i></h2>
    <div class="warranty-list">
      <div class="warranty-item">
        <div class="warranty-number">1</div>
        <div class="warranty-text">
          <h3>Гарантируем сдачу объекта в срок</h3>
          <p>За каждый день просрочки выплачиваем 0,3% от суммы договора</p>
        </div>
      </div>
      <div class="warranty-item">
        <div class="warranty-number">2</div>
        <div class="warranty-text">
          <h3>Гарантия на все выполненные работы — 1 год</h3>
          <p>Производим ремонт и замену комплектующих при первой необходимости</p>
        </div>
      </div>
      <div class="warranty-item">
        <div class="warranty-number">3</div>
        <div class="warranty-text">
          <h3>Гарантируем фиксированную стоимость</h3>
          <p>Вам не нужно ничего доплачивать за работы и материалы, которые мы утвердили на старте работы, если только вы сами не захотите что-то изменить в проекте</p>
        </div>
      </div>
      <div class="warranty-item">
        <div class="warranty-number">4</div>
        <div class="warranty-text">
          <h3>Гарантируем поддержку<br> и обслуживание даже после сдачи проекта</h3>
          <p>Гарантийный отдел ведет вас в течении 1 года после сдачи работ и готов в любой момент решить ваш вопрос</p>
        </div>
      </div>
    </div>
    <img src="img/warranty.png" data-fancybox data-src="#popup-dog" class="warranty-img" alt="">
  </div>
</section>

<div class="popup" id="popup-dog">
  <div class="form">
    <h4>Скачать договор</h4>
    <p>Доступ к договору откроется автоматически после отправки данных</p>
    <form action="php/send.php" method="post" class="js-validate-4">
      <input type="text" name="name" class="input input-name" placeholder="Ваше имя" />
      <input type="tel" name="phone" class="input input-phone masked" placeholder="Ваш телефон" />
      <button type="submit" class="btn btn-form">Скачать договор</button>
      <small>Нажимая на кнопку, Вы соглашаетесь<br> с условиями <a href="#">передачи данных</a></small>
    </form>
  </div>
</div>